/* All you need in one place */
#TextAllYou {
  position: absolute;
  width: 183px;
  height: 59px;
  left: 114px;
  top: 1486px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #ffb444;
}
